<app-navbar></app-navbar>

<div class="parallax-container">
  <!-- Prima immagine -->
  <div class="image-container">
    <img src="../../assets/images/casa1.jpg" ngx-parallax />
  </div>

  <!-- Testo tra la prima e seconda immagine -->
  <div class="text-overlay-between">
    <div class="text-box">
      <p>Scopri la nostra accogliente casa in affitto, situata nel cuore di Como, a pochi passi dal Duomo.</p>
    </div>
  </div>

  <!-- Seconda immagine -->
  <div class="image-container">
    <img src="../../assets/images/casa2.jpg" ngx-parallax />
  </div>

  <!-- Testo tra la seconda e terza immagine -->
  <div class="text-overlay-between">
    <div class="text-box">
      <p>Seconda immagine</p>
    </div>
  </div>

  <!-- Terza immagine -->
  <div class="image-container">
    <img src="../../assets/images/casa3.jpg" ngx-parallax />
  </div>

  <!-- Testo sopra la terza immagine -->
<div class="text-overlay-between">
  <div class="text-box">
    <p>Questo è il testo sopra la terza immagine</p>
  </div>
</div>
</div>


