<div class="parallax-container">
    <div class="image">
      <img src="../../assets/images/casa1.jpg" ngx-parallax />
    </div>
    
    <div class="text-overlay first-overlay">
      <div class="text-box">
        <p>Questo è il testo sopra la prima immagine</p>
      </div>
    </div>
  
    <div class="image">
      <img src="../../assets/images/casa2.jpg" ngx-parallax />
    </div>
  
    <div class="text-overlay second-overlay">
      <div class="text-box">
        <p>Questo è il testo sopra la seconda immagine</p>
      </div>
    </div>
  </div>
  