<app-navbar></app-navbar>

<div class="parallax-container" id="home">
  <!-- Prima immagine -->
  <div class="image-container">
    <img src="../../assets/images/casa1.jpg" ngx-parallax />
  </div>

  <!-- Testo tra la prima e seconda immagine -->
  <div class="text-overlay-between" id="text-overlay1">
    <div class="text-box">
      <h1>THE WINDOW ON THE DOME</h1>
      <p>Romani, gens fortissima ac bellicosissima, ab origine urbis suae non solum regna vicina subiecerunt, sed etiam terrarum orbis imperium paulatim amplificaverunt. Narrantur enim a scriptoribus antiquis multae res gestae, quibus virtus ac prudentia ducum Romanorum praecipue in luce ponuntur. </p>
    </div>
  </div>

  <!-- Seconda immagine -->
  <div class="image-container">
    <img src="../../assets/images/casa2.jpg" ngx-parallax />
  </div>

  <!-- Testo tra la seconda e la terza immagine -->
  <div class="text-overlay-between" id="text-overlay2">

    <div class="apartment-info" id="info">
      <div class="info-grid">
        <div class="info-item">
          <div class="info-number">4</div>
          <div class="info-label">SLEEPS</div>
        </div>
        <div class="info-item">
          <div class="info-number">2</div>
          <div class="info-label">BATH ROOMS</div>
        </div>
        <div class="info-item">
          <div class="info-number">2</div>
          <div class="info-label">BED ROOMS</div>
        </div>
        <div class="info-item">
          <div class="info-number">2</div>
          <div class="info-label">BEDS</div>
        </div>
      </div>
    </div>

    
    <div class="text-box">
      <h1>THE APARTMENT</h1>
      <p>Romani, gens fortissima ac bellicosissima, ab origine urbis suae non solum regna vicina subiecerunt, sed etiam terrarum orbis imperium paulatim amplificaverunt. Narrantur enim a scriptoribus antiquis multae res gestae, quibus virtus ac prudentia ducum Romanorum praecipue in luce ponuntur.</p>
    </div>

    <hr class="custom-hr" id="location-button">

    <div class="text-box" id="location">
      <h1>THE POSITION</h1>
    </div>

    <div class="location-container">
      <!-- Colonna Sinistra -->
      <div class="location-text">
        <p>Romani, gens fortissima ac bellicosissima, ab origine urbis suae...</p>
      </div>

      <!-- Colonna Destra -->
        <div class="location-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d695.2298782752563!2d9.084653583149558!3d45.81287030159132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47869db60a86b901%3A0x65ed0267ce0b6c0e!2sVia%20Alessandro%20Manzoni%2C%202%2C%2022100%20Como%20CO!5e0!3m2!1sit!2sit!4v1726330332227!5m2!1sit!2sit"
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy"
          ></iframe>
        </div>
    </div>

    <hr class="custom-hr" id="gallery-button">

    <div class="text-box" id="gallery">
      <h1>GALLERY</h1>
    </div>
    <div class="gallery-container">
        <app-gallery></app-gallery>
    </div>

    <hr class="custom-hr" id="contact-button">

    <div class="text-box" id="contact">
      <h1>Contact us</h1>
    </div>
    <div class="contact-form-container">
      <app-contact-form></app-contact-form>
    </div>
  </div>

  <div class="image-container">
    <img src="../../assets/images/casa3.jpg" ngx-parallax />
  </div>

  <div class="image-container">
    <img src="../../assets/images/casa5.jpg" ngx-parallax />
  </div>
</div>
